<div class="footer py-5">
    <div class="container d-lg-flex ">
        <div class="footerLogo" >
            <a href="#"><img src="../assets/images/img_logo_footer.png" alt="footer_logo"></a>
        </div>
    
        <div class="footerContent ms-lg-3 d-flex flex-column justify-content-center">
            <p class="footerTitle fw-bold">每個文化景點都會有個詳細的背景故事</p>
            <p class="footerText">本網站致力於發掘與檢索台灣每個景點最深層的在地文化透過使用者們相互分享與回饋，找到彼此最有感的連結打造台灣人心中具深度的旅遊方式尋找深刻的景點。</p>

            <!-- 此連結要到7-1 -->
            <a href="list-schedule.html" class="footerContentbtn mx-auto ms-lg-0">

                <div class="position-relative">
                    <div class="btnUnder"></div>

                    <div class="d-flex align-items-center btnAbove ">
                        <span class="fw-bold" style="color: white;letter-spacing: 4px;">開始我的景點之旅</span>
                        <div class="footerContentbtnImg ms-2"></div>
                    </div>
                    
                </div>
                
            </a>
            
        </div>

        <div class="footerMenu d-flex flex-column ">
            <ul>
                <li><a href="about.html">關於我們</a></li>
                <li><a href="contact.html">聯絡我們</a></li>
                <li><a href="privacy.html">隱私權保護政策</a></li>
            </ul>

            <span>Copyright © 2023 TaiwanIsee. All rights reserved.</span>
        </div>
    
        
    </div>
</div>
