<nav class="navbar navbar-expand-lg py-4">

    <div class="container d-flex align-items-start">
        <div>
            <a  href="index-logged.html">
              <img src="../assets/images/logo＿index.png" alt="logo＿index" style="width: 94px;height: 140px;">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../assets/images/icon_navbar.png" alt="icon_navbar" style="width: 40px;height: 40px;">
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-center align-items-end">
                
              <li class="nav-item me-lg-3 d-flex borderBtm mb-3 mb-lg-0">
                <!-- 這個連結還沒好 -->
                <a class="nav-link" href="#"><img src="../assets/images/icon_search.png" alt=""></a>
                <input class="searchArea fw-bold" id="filterInput" type="text" placeholder="找景點" aria-label="search">
              </li>
    
              <li class="nav-item me-lg-3 mb-3 mb-lg-0">
                <a class="nav-link fw-bold" href="attractions.html">景點內容</a>
              </li>
    
              <li class="nav-item me-lg-3 mb-3 mb-lg-0">
                <a class="nav-link fw-bold" href="collect.html">我的收藏</a>
              </li>
    
              <li class="nav-item me-lg-3 mb-3 mb-lg-0">
                <a class="nav-link fw-bold" href="record.html">歷史觀看紀錄</a>
              </li>
    
              <li class="nav-item me-lg-3 mb-3 mb-lg-0">
                <p class="nav-link fw-bold mb-0" href="#" style="color: #ffffff;"><img src="../assets/images/icon_person.png" alt="">您好，王小明</p>
              </li>
    
              <li class="nav-item">
                <a class="nav-link fw-bold" href="index.html">登出</a>
              </li>
    
            </ul>

    
          </div>





    </div>
  </nav>