.heartcontainer {
    display: block;
    cursor: pointer;
}
  
.heart {
    display: block;
    width: 20px;
    height: 18px;
    background-image: url('../images/icon_heart_empty.png'); 
    background-size: cover;
}

.heart:hover{
    background-image: url('../images/icon_heart_red.png'); 
}


.heart.active{
    background-image: url('../images/icon_heart_red.png'); 
}
