<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 頁籤圖  -->
<link rel="icon" href="../assets/images/logo-sm1.png">
<title>景點介紹-金門歷史民俗博物館</title>
<!-- font Anton&Inter CDN  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- bootstrap reset CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
<!-- jquery CDN -->
<script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="../js/all.js"></script>
</head>

<body>
<%- include('./layout/header-logged'); -%>

<div class="container my-5">

    <!--內容介紹-->
    <div class="row mb-4">
        <div class="col-sm-6 col-lg-7 col-xl-10">
            <img class="shadow img-thumbnail img-fluid rounded me-1" src="../assets/images/金門歷史民俗博物館-3.jpeg" width="500" height="600" alt="金門歷史民俗博物館-3">
            <img class="shadow img-thumbnail img-fluid rounded" src="../assets/images/金門歷史民俗博物館-2.jpeg" width="500" height="600" alt="金門歷史民俗博物館-2">
        </div>
        <div class="col-sm-6 col-lg-5 col-xl-2">
            <h3 class="fw-bold">金門歷史民俗博物館</h3>
            <div class="d-flex flex-column">
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12 mb-1" href="#"># 博物之島 </a>
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12" href="#"># 金門學</a>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled d-flex justify-content-evenly">
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">favorite </span>
                加入收藏</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">explore </span>
                加入我的景點之旅</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="share-message.html">
                <span class="align-top material-symbols-outlined">mark_unread_chat_alt </span>
                    進入留言區</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="hot attractions.html">
                <span class="align-top material-symbols-outlined">distance </span>
                    附近熱門景點</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">travel_explore </span>
                加入自訂行程</a>
        </li>
    </ul>

    <div class="row">
        <div class="shadow col-12 border border-light border-2 py-4 px-4 mb-4">
            <p>
                金門歷史民俗博物館於2010年12月25日開館，2014年1月1日成立管理單位「金門縣文化園區管理所」，
                位處金門東半島金沙溪畔，與太武山、金龜山前後輝映，閩式建築依山傍水，環繞湖光水色，
                景致宜人。金門歷史民俗博物館以金門學為基底出發，致力保存與展示金門歷史人文、傳統民俗，
                多面向呈現金門島嶼風貌及地方視野，並展現金門文化之於台灣、兩岸及國際地位重要連結與價值，
                目標轉型金門博物館，打造人人都能近用之博物館，形塑金門「文化入口，觀光起點」 。
            </p>
            <p>
                太武山上的毋忘在莒碑是金門的精神象徵，也是我對於金門的印象，所以即使在時間有限的情況下，
                沒辦法將所有歷史景點一一造訪，我們還是將太武山安排進行程中。
                太武山有4個登山口，分別是好走的玉章路口、玉章路尾，以及較陡峭的斗門古道和蔡厝古道，
                從玉章路口到海印寺來回約兩小時，是最大眾的路線。
            </p>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3630.6009153981254!2d118.40082167643175!3d24.49928087816685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3414bb67c968dec9%3A0xce61747551d7a343!2z6YeR6ZaA5q235Y-y5rCR5L-X5Y2a54mp6aSo!5e0!3m2!1szh-TW!2stw!4v1693965016003!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--附近熱門景點-->
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h2 class="text-success fw-bold py-3 me-3">附近熱門景點</h2>
            <a class="btn btn-outline-success" href="hot attractions.html">更多熱門景點</a>
        </div>
        <div class="row">
            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/山后民俗文化村-1.jpg" height="260" alt="山后民俗文化村-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">山后民俗文化村</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">2小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金沙镇三山里</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/莒光樓-1.jpg" height="260" alt="莒光樓-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">莒光樓</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金門縣金城鎮賢城路1號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/金門太武山步道-1.jpg" height="260" alt="金門太武山步道-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">金門太武山步道</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">2小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金門縣金湖鎮玉章路</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>