<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 頁籤圖  -->
<link rel="icon" href="../assets/images/logo-sm1.png">
<title>景點介紹-桃園客家文化館</title>
<!-- font Anton&Inter CDN  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- bootstrap reset CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
<!-- jquery CDN -->
<script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="../js/all.js"></script>
</head>

<body>
<%- include('./layout/header-logged'); -%>

<div class="container my-5">

    <!--內容介紹-->
    <div class="row mb-4">
        <div class="col-sm-6 col-lg-7 col-xl-10">
            <img class="shadow img-thumbnail img-fluid rounded me-1" src="../assets/images/桃園客家文化館-3.jpg" width="500" height="600" alt="桃園客家文化館-3">
            <img class="shadow img-thumbnail img-fluid rounded" src="../assets/images/桃園客家文化館-2.jpg" width="500" height="600" alt="桃園客家文化館-2">
        </div>
        <div class="col-sm-6 col-lg-5 col-xl-2">
            <h3 class="fw-bold">桃園客家文化館</h3>
            <div class="d-flex flex-column">
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12 mb-1" href="#"># 客家文化 </a>
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12" href="#"># 桃園</a>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled d-flex justify-content-evenly">
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">favorite </span>
                加入收藏</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">explore </span>
                加入我的景點之旅</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="share-message.html">
                <span class="align-top material-symbols-outlined">mark_unread_chat_alt </span>
                    進入留言區</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="hot attractions.html">
                <span class="align-top material-symbols-outlined">distance </span>
                    附近熱門景點</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">travel_explore </span>
                加入自訂行程</a>
        </li>
    </ul>

    <div class="row">
        <div class="shadow col-12 border border-light border-2 py-4 px-4 mb-4">
            <p>
                「桃園客家文化館」位於龍潭區中正路上，建築體於民國94年完工，
                97年三月起陸續開放展場供民眾參觀。園區內設立「客家文學館」、「客家音樂館」、
                「鍾肇政文學館」、「鄧雨賢音樂館」、「影像資料館／影音借閱館」等展館空間，
                破除以往展館僅展覽客家遷移歷史、聚落式建築、語言、服裝、傢俱以及各種生活日常用具，
                而是透過文字詩歌來察覺文化裡更為深刻的內涵，並感受文化裡的生命脈動。因此桃園客家文化館以
                「全球華人客家影音中心」為主要定位，結合文化保存、展示、教育、休閒娛樂等多功能用途，
                期望能打造出客家影像、音樂保存的重鎮。
            </p>
            <p>
                客家文化館位在桃園市龍潭區中正路三林段上，桃園女子監獄斜對面，名人堂花園大飯店、石門水庫、
                各式活魚餐廳附近，算是假日ㄟ很多人的地段啊美食小吃與景點都很多的旅行好去處。
                每次從台北開車過來想去吃活魚三吃料理就一定會路過客家文化館啊！都路過這麼多次了！
                今天就特別停個車，來去逛逛看吧！
            </p>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115857.21458276546!2d121.08210869726561!3d24.84546990000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683da78b0cffcf%3A0xe2a2cbcf1cebbd89!2z5qGD5ZyS5biC5a6i5a625paH5YyW6aSo!5e0!3m2!1szh-TW!2stw!4v1693676356882!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--附近熱門景點-->
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h2 class="text-success fw-bold py-3 me-3">附近熱門景點</h2>
            <a class="btn btn-outline-success" href="hot attractions.html">更多熱門景點</a>
        </div>
        <div class="row">
            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/大平紅橋-1.jpg" height="260" alt="大平紅橋-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">大平紅橋</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">30分鐘</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">桃園市龍潭區石門路53號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/小人國主題樂園-1.jpg" height="260" alt="小人國主題樂園-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">小人國主題樂園</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">桃園市龍潭區高原路891號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/三坑自然生態公園-1.jpg" height="260" alt="三坑自然生態公園-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">三坑自然生態公園</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">2小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">桃園市龍潭區</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>