<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 頁籤圖  -->
<link rel="icon" href="../assets/images/logo-sm1.png">
<title>景點介紹-野柳地質公園</title>
<!-- font Anton&Inter CDN  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- bootstrap reset CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
<!-- jquery CDN -->
<script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="../js/all.js"></script>
</head>

<body>
<%- include('./layout/header-logged'); -%>

<div class="container my-5">

    <!--內容介紹-->
    <div class="row mb-4">
        <div class="col-sm-6 col-lg-7 col-xl-10">
            <img class="shadow img-thumbnail img-fluid rounded me-1" src="../assets/images/野柳地質公園-3.jpg" width="500" height="600" alt="野柳地質公園-3">
            <img class="shadow img-thumbnail img-fluid rounded" src="../assets/images/野柳地質公園-2.jpg" width="500" height="600" alt="野柳地質公園-2">
        </div>
        <div class="col-sm-6 col-lg-5 col-xl-2">
            <h3 class="fw-bold">野柳地質公園</h3>
            <div class="d-flex flex-column">
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12 mb-1" href="#"># 地質奇觀 </a>
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12" href="#"># 女王頭</a>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled d-flex justify-content-evenly">
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">favorite </span>
                加入收藏</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">explore </span>
                加入我的景點之旅</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="share-message.html">
                <span class="align-top material-symbols-outlined">mark_unread_chat_alt </span>
                    進入留言區</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="hot attractions.html">
                <span class="align-top material-symbols-outlined">distance </span>
                    附近熱門景點</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">travel_explore </span>
                加入自訂行程</a>
        </li>
    </ul>

    <div class="row">
        <div class="shadow col-12 border border-light border-2 py-4 px-4 mb-4">
            <p>
                擁有奇岩美石的野柳地質公園，是大屯山餘脈延伸至海中的岬角，受到風化、海蝕及地殼運動等作用，
                造就了蕈狀岩、海蝕洞、豆腐石、燭狀岩及壺穴等奇景，是揚名國際的天然風景名勝地。其中，「女王頭」
                更是野柳具代表性的地標與熱門打卡點；「俏皮公主」則有著如綁著馬尾般的造型，被譽為女王頭的接班人。
                在野柳地質公園，進入岬角地景區之前，可以看到仿真的「女王頭」與「俏皮公主」還有五顏六色的奇岩怪石Q版公仔，這裡有樹蔭、
                也不會太靠近岩石區與海岸，適合小朋友在此遊憩、拍照。
            </p>
            <p>
                海岸岬角區共分為三大區域，第一區有多樣且造型奇特的蕈狀岩、燭台石，在這裡可以看到蕈狀岩的發育過程，
                大小不同的蕈狀岩一字排開，形成療癒可愛的景致；野柳夯點—女王頭、龍頭石及金剛石則其中在第二區，
                此區靠近海邊還可以看到「仙女鞋」、「花生石」等地景。而第三區則為海蝕平台，擁有二十四孝石、珠石等特殊造型岩質，
                此區也是野柳公園重要的生態保育區。來到野柳，別忘了尋找它們的蹤影！
            </p>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7219.714544710326!2d121.6897620111887!3d25.208035349817152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x345d4b8a46b336b7%3A0xf52664cb75e183ea!2z5paw5YyX5biC6YeO5p-z!5e0!3m2!1szh-TW!2stw!4v1693641833866!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--附近熱門景點-->
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h2 class="text-success fw-bold py-3 me-3">附近熱門景點</h2>
            <a class="btn btn-outline-success" href="hot attractions.html">更多熱門景點</a>
        </div>
        <div class="row">
            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/十分瀑布-1.jpg" height="260" alt="十分瀑布-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">十分瀑布</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">30分鐘</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">新北市平溪區乾坑10號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/北投溫泉博物館-1.jpg" height="260" alt="北投溫泉博物館-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">北投溫泉博物館</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">2.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">台北市北投區中山路2號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/朱銘美術館-1.jpg" height="260" alt="朱銘美術館-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">朱銘美術館</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 北部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">新北市金山區西勢湖2號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>