<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 頁籤圖  -->
<link rel="icon" href="../assets/images/logo-sm1.png">
<title>景點介紹-文臺寶塔</title>
<!-- font Anton&Inter CDN  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- bootstrap reset CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
<!-- jquery CDN -->
<script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="../js/all.js"></script>
</head>

<body>
<%- include('./layout/header-logged'); -%>

<div class="container my-5">

    <!--內容介紹-->
    <div class="row mb-4">
        <div class="col-sm-6 col-lg-7 col-xl-10">
            <img class="shadow img-thumbnail img-fluid rounded me-1" src="../assets/images/文臺寶塔-3.jpeg" width="500" height="600" alt="文臺寶塔-3">
            <img class="shadow img-thumbnail img-fluid rounded" src="../assets/images/文臺寶塔-2.jpeg" width="500" height="600" alt="文臺寶塔-2">
        </div>
        <div class="col-sm-6 col-lg-5 col-xl-2">
            <h3 class="fw-bold">文臺寶塔</h3>
            <div class="d-flex flex-column">
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12 mb-1" href="#"># 文臺寶塔 </a>
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12" href="#"># 明代石塔</a>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled d-flex justify-content-evenly">
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">favorite </span>
                加入收藏</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">explore </span>
                加入我的景點之旅</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="share-message.html">
                <span class="align-top material-symbols-outlined">mark_unread_chat_alt </span>
                    進入留言區</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="hot attractions.html">
                <span class="align-top material-symbols-outlined">distance </span>
                    附近熱門景點</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">travel_explore </span>
                加入自訂行程</a>
        </li>
    </ul>

    <div class="row">
        <div class="shadow col-12 border border-light border-2 py-4 px-4 mb-4">
            <p>
                文臺寶塔建於明朝洪武20年（1387），是明太祖命「江夏侯」周德興在金門建的三座石塔之一，
                也是金門唯一沒有毀於戰火、未受砲彈損傷的明代石塔。高聳的文臺寶塔，過去也作為航海的指標，
                塔頂有鐫字及浮刻，面向金門城方向的塔檐下，掛著一塊長條石板，橫鐫有「奎星聳照」四字，
                下方浮刻有「魁星踢斗」圖象，祈求文風興盛的意境明瞭，塔下的盤石有明代武官陳煇手書的
                「文臺寶塔」墨蹟，以及已故水墨畫大師張大千的「國之金湯」墨寶，相當具歷史意義，
                目前被列為國定古蹟。
            </p>
            <p>
                文臺寶塔位於金城鎮西南方離海岸線不遠的南磐山，是座建立在巨石上高約6公尺的六角型石塔，
                為當時海上船隻航行的指標；一旁虛江嘯臥碣群則是明清時代的文人雅士們摩崖勒石之處。
                平台上的巨石乃制高點，登上後可眺望金門島西南海面。兩處景點歷史都五百年以上，
                是台灣本島罕見的明代古蹟。
                這是個舊地重遊的景點，只是在莫蘭蒂颱風剛走沒多久的時間點抵達，現場許多樹木被連根拔起仍未整理好，
                地貌與記憶中的文臺寶塔不太一樣，倒讓我回想起服役時剛到金門，遇到丹恩颱風後大量樹木傾倒、滿目瘡痍的往事。
                對於我這位不住金門的過客來說，20年來對金門造成重大災害的兩次颱風慘況都親眼目睹，也算巧合。
            </p>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3633.4984271438707!2d118.30343007642954!3d24.398745978233777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3414a21a013bba33%3A0x42cfc0396230c6a8!2z5paH6Ie65a-25aGU!5e0!3m2!1szh-TW!2stw!4v1693962696435!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--附近熱門景點-->
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h2 class="text-success fw-bold py-3 me-3">附近熱門景點</h2>
            <a class="btn btn-outline-success" href="hot attractions.html">更多熱門景點</a>
        </div>
        <div class="row">
            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/虛江嘯臥碣群-1.jpg" height="260" alt="虛江嘯臥碣群-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">虛江嘯臥碣群</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金門縣金城鎮虛江嘯臥碣群</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/金門民俗文化村-1.jpg" height="260" alt="金門民俗文化村-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">金門民俗文化村</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金沙鎮山後村</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/得月樓-1.jpg" height="260" alt="得月樓-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">得月樓</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 離島 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">0.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">金門縣金城鎮前水頭45號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>