<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 頁籤圖  -->
<link rel="icon" href="../assets/images/logo-sm1.png">
<title>景點介紹-廣盛老街</title>
<!-- font Anton&Inter CDN  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- bootstrap reset CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
<!-- jquery CDN -->
<script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="../js/all.js"></script>
</head>

<body>
<%- include('./layout/header-logged'); -%>

<div class="container my-5">

    <!--內容介紹-->
    <div class="row mb-4">
        <div class="col-sm-6 col-lg-7 col-xl-10">
            <img class="shadow img-thumbnail img-fluid rounded me-1" src="../assets/images/廣盛老街-3.jpeg" width="500" height="600" alt="廣盛老街-3">
            <img class="shadow img-thumbnail img-fluid rounded" src="../assets/images/廣盛老街-2.jpeg" width="500" height="600" alt="廣盛老街-2">
        </div>
        <div class="col-sm-6 col-lg-5 col-xl-2">
            <h3 class="fw-bold">廣盛老街</h3>
            <div class="d-flex flex-column">
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12 mb-1" href="#"># 廣盛老街 </a>
                <a class="text-decoration-none rounded-pill bg-secondary text-white fs-14 py-2 p-12" href="#"># 彩繪階梯</a>
            </div>
        </div>
    </div>
    <ul class="row list-unstyled d-flex justify-content-evenly">
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">favorite </span>
                加入收藏</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">explore </span>
                加入我的景點之旅</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="share-message.html">
                <span class="align-top material-symbols-outlined">mark_unread_chat_alt </span>
                    進入留言區</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="hot attractions.html">
                <span class="align-top material-symbols-outlined">distance </span>
                    附近熱門景點</a>
        </li>
        <li class="col-md-2 rounded-pill bg-success text-center py-2 op-7 list-4 mb-1">
            <a class="text-white text-decoration-none" href="#">
                <span class="align-top material-symbols-outlined">travel_explore </span>
                加入自訂行程</a>
        </li>
    </ul>

    <div class="row">
        <div class="shadow col-12 border border-light border-2 py-4 px-4 mb-4">
            <p>
                苗栗縣三義鄉公所將廣盛村老街打造成「好客走廊」，請藝術家繪出石虎、台灣藍鵲、貓熊、動物樂隊等圖騰
                ，讓民眾處處驚艷，紛紛前往拍照，形成觀光新景點；也激發在地藝術家陳浩宇愛鄉情懷，
                自發性投入彩繪行列，勾勒出客家人的硬頸精神，讓地景彩繪增添濃濃的「客家味」。
            </p>
            <p>
                三義鄉公所請來藝術家，將位於百年老校建中國小下方的99階長階梯，繪製充滿當地特色的3D立體彩繪，
                階梯由下往上看可看到油桐花、石虎、勝興車站及蒸汽火車等代表三義的各種元素，
                利用階梯本身具有垂直角度繪製出來的3D彩繪效果，與一般的平面繪製更顯得生動立體！
                到三義建中國小的３Ｄ彩繪天梯，附近的廣盛老街也不能錯過喔！三義鄉公所將廣盛村老街打造成
                「好客走廊」，請藝術家彩繪石虎、台灣藍鵲等保育類動物及貓熊、動物樂隊等圖騰，讓遊客處處驚艷
                ，形成觀光新景點，也激發在地藝術家愛鄉情懷，自動自發投入彩繪。
            </p>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3633.0704438538696!2d120.76870977564734!3d24.41362016299158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34690691ba1c4ef1%3A0x19f27ead18ea0af!2z5buj55ub6ICB6KGX!5e0!3m2!1szh-TW!2stw!4v1693615399560!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--附近熱門景點-->
    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h2 class="text-success fw-bold py-3 me-3">附近熱門景點</h2>
            <a class="btn btn-outline-success" href="hot attractions.html">更多熱門景點</a>
        </div>
        <div class="row">
            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/好客走廊-1.jpg" height="260" alt="好客走廊-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">好客走廊</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 中部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">30分鐘</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">苗栗縣三義鄉復興路8號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/三義３Ｄ彩繪天梯-1.jpg" height="260" alt="三義３Ｄ彩繪天梯-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">三義３Ｄ彩繪天梯</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#">#中部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">苗栗縣三義鄉廣盛村８０號</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-3">
                <div class="shadow mb-5 bor-rad-24 bg-white px-3 py-3">
                    <a href="#"><img class="bor-rad-24 mx-auto w-100 d-block" src="../assets/images/三義綠色隧道-1.jpg" height="260" alt="三義綠色隧道-1"></a>
                    <h5 class="text-center fw-bold py-3 text-success">三義綠色隧道</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2 me-1 border-top border-bottom mb-3 py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <a class="text-decoration-none rounded-pill bg-g text-white fs-14 py-1 p-12 me-2" href="#"># 中部 </a>
                            </div>
                            <div>
                                <span class="align-top material-symbols-outlined">schedule</span>
                                <p class="d-inline text-dark text-decoration-none">1.5小時</p>
                            </div>
                        </li>
                        <li class="mb-2">
                            <span class="align-top text-warning material-symbols-outlined">location_on</span>
                            <p class="d-inline text-dark fs-6">苗栗縣三義鄉三義綠色隧道</p>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">explore</span>
                                加入我的景點之旅</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-muted text-decoration-none" href="#">
                                <span class="align-top text-warning material-symbols-outlined">travel_explore</span>
                                加入自訂行程</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>