<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 頁籤圖  -->
    <link rel="icon" href="../assets/images/logo-sm1.png">
    <!-- og系列，for FB  -->
    <meta property="og:title" content="Taiwan,I see.">
    <meta property="og:description" content="台灣特色景點介紹">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.facebook.com/">
    <meta property="og:image" content="https://drive.google.com/uc?export=view&id=1J5SXSI4VyRANABbySpGbL3TbMrLfk_qr">
    <title>Taiwan, I See.</title>
    <!-- font Anton&Inter CDN  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- bootstrap reset CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
    <!-- icon cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  </head>


  <body style="margin-top: -100px;">
    <!-- backtotop -->
    <button class="rounded-circle" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
      // Get the button:
      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    
  <!-- AOS視差滾動 -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  
  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 800, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: true, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });
  </script>
 
 
   
  <div class="banner position-relative ">
    <!-- header不一樣 -->
    <%- include('./layout/index_header-logged'); -%>

    <!-- 大標區塊 -->
    <div class="container">
      <h1 class="indexTitle">Taiwan,<br class="indexTitlebr">
         I see.</h1>       

      <!-- 此連結要到7-1 -->
      <a href="list-schedule.html" class="footerContentbtn">
          <div class="position-relative">
              <div class="btnUnder"></div>

              <div class="d-flex align-items-center btnAbove ">
                  <span class="fw-bold" style="color: white;letter-spacing: 4px;">開始我的景點之旅</span>
                  <div class="footerContentbtnImg ms-2"></div>
              </div>
          </div>
      </a>
    </div>

    <!-- 本月推薦區塊 -->
    <div class="d-flex justify-content-end">
      <!-- 膚色底區塊 -->
      <div class="monthPromotionbg bg-body">

        <!-- 小標籤 -->
        <div class="monthTag position-relative bg-primary">
          <div class="position-absolute d-flex">
            <img src="../assets/images/icon_flag.png" alt="flag">
            <h4 class="mb-0 ms-1 text-white fw-bold">本月推廣</h4>
          </div>
        </div>

        <!-- 內容區塊 -->
        <div class="monthPromotion " data-aos="fade-up">
          
          <!-- 主圖 -->
          <div class="mb-3 d-flex justify-content-center">
            <a href="in attractions-范姜老屋群.html"><img  class="monthImg" src="../assets/images/this_month.png" alt="this_month"></a>      
          </div>

          <!-- 標題＋內文 -->
          <div class="monthContent">
            <img class="mb-12" src="../assets/images/this_month_name.png" alt="this_month_name">

            <div class="d-flex mb-12">
              <img class="" src="../assets/images/icon_location.png" alt="icon_location" style="height: 20px">
              <p class="mb-0 ms-1" style="color: #B4875E;">桃園市新屋區中正路110巷</p>
            </div>
            
            <p class="mb-4" style="font-size: 16px;line-height: 1.5;letter-spacing:0.02em;">范姜老屋群是一個古老而迷人的文化遺址，充滿歷史價值和獨特魅力。這個老屋群以其保存完整的傳統建築風格而聞名，展示了過去的生活方式和建築工藝。在這裡，您可以漫步於古老的巷道，欣賞傳統中國建築的精湛細節，並感受悠久的歷史氛圍。范姜老屋群也常舉辦文化活動和展覽，讓遊客更深入了解當地的文化傳承和歷史故事。</p>
            <div class="d-flex justify-content-end">
                <a class="text-decoration-none text-success" href="in attractions-范姜老屋群.html">瀏覽更多 
                    <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
                </a>
            </div>
            
          </div>

        </div>

      </div>
    </div>
    
    <!-- 直接找景點區塊 -->
    <div class="container chooseType">


      <div class="row justify-content-between">
        <!-- 依地區區塊 -->
        <div class="col-xl-6"  data-aos="fade-right">

          <h2 class="mb-1 text-primary" style="font-size: 48px;line-height: 1.2;">直接找景點</h2>
          <p class="mb-0" style="color:#B4875E;font-size: 18px;line-height: 1.2;">Choose Your Type</p>
          <div class="d-flex mb-12 mt-32 align-items-center">
            <img src="../assets/images/line_40.png" alt="line_40" style="width: 40px;height: 1px;">
            <p class="text-white mb-0 ms-12" >依地區</p>
          </div>
          
          <a href="attractions.html" class="chooseNorth" style="text-decoration: none;">
            <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
            <span class="ms-2 text-white">北部</span>
          </a>

          <div class="d-flex">
            <div class="w66">

              <div class="d-flex">
                <a href="attractions.html" class="chooseIsland" style="text-decoration: none;">
                  <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                  <span class="ms-2 text-white">離島</span>
                </a>

                <a href="attractions.html" class="chooseMiddle" style="text-decoration: none;">
                  <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                  <span class="ms-2 text-white">中部</span>
                </a>
              </div>

              <a href="attractions.html" class="chooseSouth" style="text-decoration: none;">
                <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                <span class="ms-2 text-white">南部</span>
              </a>
            </div>

            <a href="attractions.html" class="chooseEast" style="text-decoration: none;">
              <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
              <span class="ms-2 text-white">東部</span>
            </a>
          </div>
          
        </div>

        <!-- 依類型區塊 -->
        <div class="col-xl-5 myMt"  data-aos="fade-left">
          <div class="d-flex justify-content-end">
            <img class=" d-none d-xl-block" src="../assets/images/icon_map.png" alt="icon_map">
            <img class="ms-5 d-none d-xl-block" src="../assets/images/icon_camera.png" alt="icon_camera">
          </div>

          <div class="d-flex mb-12 mt-12 align-items-center">
            <div class="lineImg"></div>
            <p class="textColor mb-0 ms-12" >依類型</p>
          </div>
          
          <div class="myRadius-24 bg-white shadow pt-4 pb-44 ps-4 pe-4">
            <img src="../assets/images/icon_mark.png" alt="icon_mark">
            <div class="chooseCulture d-flex flex-wrap ">
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 特色夜市</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 老街漫遊</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 古蹟巡禮</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 博物館別</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 戰地文化</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 原民文化</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 客家文化</a>
              <a href="attractions.html" class="btn bg-light rounded-pill mb-3" style="background-color: #E9E9E9!important"> <span class="me-2">#</span> 山明水秀</a>
            </div>
          </div>
        </div>

      </div>
      
    </div>

    <!-- 波浪底圖 -->
    <div class="imgType bottom-0" style="margin-bottom: -2px;"></div>
  
  </div>

  <div class="blankArea"></div>

  <div class="container mt-124 pb-5 backgroundSliper">
    <h2 class="mb-1 text-primary" style="font-size: 48px;line-height: 1.2;">熱門收藏景點</h2>
    <p class="mb-0" style="color:#B4875E;font-size: 18px;line-height: 1.2;">Best Tourist Attractions</p>

    <!-- 輪播 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators top-100 mt-xl-5">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">

        <!-- 第一頁 -->
        <div class="carousel-item active">
          <div class="row justify-content-between mt-32">

            <div class="col-xl-3 col-lg-6 mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/野柳地質公園-1.jpg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">新北市 萬里區</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">野柳地質公園</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 8899人收藏</p>
                <a class="text-decoration-none text-success" href="in attractions-野柳地質公園.html">瀏覽更多 
                  <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
              </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/光隆博物館-1.png);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">花蓮縣 新城鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">光隆博物館</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 8745人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-光隆博物館.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/梅山太平老街-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">嘉義縣 梅山鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">梅山太平老街</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 7062人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-梅山太平老街.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/東勢客家文化園區-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">台中市 東勢區</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">東勢客家文化園區</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 6311人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-東勢客家文化園區.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
            
          </div>
        </div>

        <!-- 第二頁 -->         
        <div class="carousel-item">
          <div class="row justify-content-between mt-32">

            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/椬梧滯洪池-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">雲林縣 口湖鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">椬梧滯洪池</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 5899人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-椬梧滯洪池.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/蘭嶼-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">臺東縣 蘭嶼鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">蘭嶼</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 5111人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-蘭嶼.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/四八坑道-1.jpg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">花蓮縣 花蓮市</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">四八坑道</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 3470人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-四八坑道.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/北甲宮夜市-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">澎湖縣 馬公市</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">北甲宮夜市</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 2653人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-北甲宮夜市.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            
          </div>
        </div>

        <!-- 第三頁 -->
        <div class="carousel-item">
          <div class="row justify-content-between mt-32">

            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/文臺寶塔-1.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">金門縣 金城鎮</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">文臺寶塔</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 2560人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-文臺寶塔.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/池上客家文化園區-1.jpg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">臺東縣 池上鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">池上客家文化園區</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 2099人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-池上客家文化園區.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/芹壁村-2.jpeg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">連江縣 北竿鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">芹壁村</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0">1985人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-芹壁村.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6  mb-5">
              <div class="d-flex p-3 position-relative" style="background-image:url(../assets/images/賽夏族矮靈祭-1.jpg);height: 312px;width: 100%;background-size: cover;background-position: center center;">
    
                <div class="p-1  bg-white rounded d-flex align-items-center" style="height: 25px;">
                  <img src="../assets/images/icon_location16.png" alt="icon_location16" style="width: 16px;height: 16px;">
                  <p class="mb-0 ms-1">新竹縣 五峰鄉</p>
                </div>
                
                <div class="ms-auto">
                  <%- include('./layout/heart'); -%>
                </div>
              </div>
              <h5 class="mt-12 mb-2">賽夏族矮靈祭</h5>
              <div class="d-flex justify-content-between">
                <p class="mb-0"> 1974人收藏</p>
                    <a class="text-decoration-none text-success" href="in attractions-賽夏族矮靈祭.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- 跑馬燈 -->
  <div style="margin-top: 76px;width: 100%;height: 200px;background-image: url(../assets/images/img_marquee_bg.png);background-size: cover;background-position: center center;overflow: hidden;">

    <div class="marqueeArea">

      <div class="marqueeText">
        <sapn  style="font-size:120px;font-family:'Anton', 'Microsoft JhengHei',sans-serif;color:transparent;-webkit-text-stroke: 2px #ffffff;color:transparent;float: left;width: 50%;">Taiwan's cultural allure lies in its ability to seamlessly blend tradition with innovation, offering a truly enriching experience.</sapn>
        <sapn style="font-size:120px;font-family:'Anton', 'Microsoft JhengHei',sans-serif;color:transparent;-webkit-text-stroke: 2px #ffffff;color:transparent;float: left;width: 50%;">Taiwan's cultural allure lies in its ability to seamlessly blend tradition with innovation, offering a truly enriching experience.</sapn>
      </div>
      
    </div>

  </div>


  
  <div class="container mt-64 mb-80 backgroundLeaves">
    <div class="backimage"></div>
    <h2 class="mb-1 text-primary" style="font-size: 48px;line-height: 1.2;">景點推薦</h2>
    <p class="mb-0" style="color:#B4875E;font-size: 18px;line-height: 1.2;">Best Tourist Attractions</p>

    <!-- 景點推薦輪播 -->
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-indicators top-100 mt-2">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner p-3">
        
        <!-- 第一頁 -->
        <div class="container carousel-item active" data-bs-interval="10000">
          <div class="row mt-3">
            <div class="col-xxl-8 col-md-10 d-lg-flex justify-content-between bg-white p-3 myRadius-24" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);"  data-aos="fade-right">
              <img class="myRadius-24 rwdWitdth" src="../assets/images/首頁＿九份.png" style="height: 328px;	background-size: cover;
              background-position: center center;" alt="首頁＿九份">
    
              <div class="pt-2 pe-1 pb-2 ps-1 d-flex flex-column rwdWitdth">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">九份山城</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 隱身山城裡的祕密風景</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">當年金瓜石礦區為了因應地形而設置各種運輸工具，包括輕便台車道、空中索道、斜坡索道等設施，以利運送礦產及物資；位於勸濟堂與十三層選礦場遺址間的「六坑斜坡索道」，是目前保存較為完整的索道遺跡。</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">30 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">新北市 九份區</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        老街漫遊
                    </a>
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        山明水秀
                    </a>
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="attractions.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
    
            <div class="col-xxl-8 col-md-10 ms-auto mt-4 d-lg-flex bg-white p-3 myRadius-24 justify-content-between"  style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);"  data-aos="fade-left">
              <img class="myRadius-24 rwdWitdth" src="../assets/images/首頁＿鹿港.png" style="height: 328px;	background-size: cover;
              background-position: center center;" alt="首頁＿鹿港">
    
              <div class="rwdWitdth pt-2 pe-1 pb-2 ps-1 d-flex flex-column">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">鹿港老街</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 舊時代的熱鬧繁華街道</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">鹿港繁盛時碼頭區的主幹─舊街，即今之埔頭、瑤林、大有三條街道，曲折的紅磚巷道兩旁林立著重新整修過的舊式店屋，其奧妙的內部格局和舊式外觀耐人尋味。</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">90 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">彰化縣 鹿港鎮</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        老街漫遊
                    </a>
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        古蹟巡禮
                    </a>
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="attractions.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
          </div>
        </div>

        <!-- 第二頁 -->
        <div class="container carousel-item">
          <div class="row mt-3">
            <div class="col-xxl-8 col-md-10 d-lg-flex bg-white p-3 myRadius-24 justify-content-between" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);">
              <img class="myRadius-24  rwdWitdth" src="../assets/images/羅娜部落-2.jpeg" style="height: 328px;	background-size: cover;background-position: center center;" alt="羅娜部落-2">
    
              <div class="rwdWitdth pt-2 pe-1 pb-2 ps-1 d-flex flex-column">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">羅娜部落</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 全台灣最大的原住民部落</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">以前這裡是鄒族居住的地方，早期部落前面有一塊泥澤地，鄒語的沼澤地發音很接近lolona的音，到了日治時期就稱這個地方叫lolona，日本人戰敗之後，他們就依循發音取地名稱為羅娜部落了。現在羅娜部落居住的多是從郡大山區被日本人迫遷下來郡社布農族人唷！</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">60 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">南投縣 信義鄉</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        原民文化
                    </a>
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        山明水秀
                    </a>
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="in attractions-羅娜部落.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
    
            <div class="col-xxl-8 col-md-10 ms-auto mt-4 d-lg-flex bg-white p-3 myRadius-24 justify-content-between"  style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);">
              <img class="myRadius-24  rwdWitdth" src="../assets/images/國立科學工藝博物館-3.jpg" style="height: 328px;	background-size: cover;
              background-position: center center;" alt="國立科學工藝博物館-3">
    
              <div class="rwdWitdth pt-2 pe-1 pb-2 ps-1 d-flex flex-column">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">國立科學工藝博物館</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 寓教於樂好所在</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">這裡不只是室內展館寬敞，就連戶外都有大片的草皮及公共區域讓民眾散步，假日的草皮區是小孩最佳的遊樂場所．也有許多親子選擇在戶外玩耍，不進館內。小孩可以在草皮吹泡泡、奔跑、外圍還能騎車。</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">120 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">高雄市 三民區</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        博物館別
                    </a>
                    
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="in attractions-國立科學工藝博物館.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
          </div>
        </div>

        <!-- 第三頁 -->
        <div class="container carousel-item">
          <div class="row mt-3">
            <div class="col-xxl-8 col-md-10 d-lg-flex bg-white p-3 myRadius-24 justify-content-between" style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);">
              <img class="myRadius-24 rwdWitdth" src="../assets/images/金門歷史民俗博物館-1.jpeg" style="height: 328px;	background-size: cover;
              background-position: center center;" alt="金門歷史民俗博物館-1">
    
              <div class="rwdWitdth pt-2 pe-1 pb-2 ps-1 d-flex flex-column">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">金門歷史民俗博物館</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 景致宜人的博物館島</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">金門歷史民俗博物館以金門學為基底出發，致力保存與展示金門歷史人文、傳統民俗，多面向呈現金門島嶼風貌及地方視野，並展現金門文化之於台灣、兩岸及國際地位重要連結與價值，目標轉型金門博物館，打造人人都能近用之博物館，形塑金門「文化入口，觀光起點」 。</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">120 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">金門縣 金沙鎮</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        博物館別
                    </a>
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        山明水秀
                    </a>
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="in attractions-金門歷史民俗博物館.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
    
            <div class="col-xxl-8 col-md-10 ms-auto mt-4 d-lg-flex bg-white p-3 myRadius-24 justify-content-between"  style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);">
              <img class="myRadius-24  rwdWitdth" src="../assets/images/中央老街-1.jpg" style="height: 328px;	background-size: cover;
              background-position: center center;" alt="中央老街-1">
    
              <div class="rwdWitdth pt-2 pe-1 pb-2 ps-1 d-flex flex-column">
    
                <div class="d-flex justify-content-between mb-12">
                  <div>
                    <h4 class="mb-12">中央老街</h4>
                    <span style="line-height: 1.2;color: #B4875E;">| 四百多年歷史的街道</span>
                  </div>
                  <img src="../assets/images/icon_military.png" style="width: 48px;height: 48px;" alt="icon_military">
                </div>
    
                <p style="color: #666666;">短短兩百公尺的閩式商店街，可看到四百多年歷史的四眼井、摸乳巷、施公祠等，許多在地傳統特產都由此發跡，澎湖必買的黑糖糕、干貝醬、冰心糕這裡都買得到。懷舊的街巷中也不乏異國風情，巴洛克式的中藥行與日式老旅社，保留當年風華榮景，值得細細品味。</p>
    
                <div class="mt-auto">
                  <div class="border-top border-bottom pt-1 pe-2 pb-1 ps-2" style="border-color: #d4d4d4;">
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">schedule</span>
                    <span class="align-middle me-12" style="font-size: 14px;line-height: 1.2;">120 分鐘</span>
                  
                    <span style="font-size: 16px;" class="align-middle material-symbols-outlined">location_on</span>
                    <span class="align-middle" style="font-size: 14px;line-height: 1.2;">澎湖縣 馬公市</span>
                  </div>
                  
    
                  <div class="d-flex mt-12">
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1 me-2" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        老街漫遊
                    </a>
                    <a href="attractions.html" class="btn bg-light rounded-pill pt-1 pb-1" style="background-color: #E9E9E9!important;font-size: 14px;line-height: 1.2;">
                      <span class="me-1">#</span>
                        古蹟巡禮
                    </a>
                    <div class="ms-auto">
                          <a class="text-decoration-none text-success" href="in attractions-中央老街.html">瀏覽更多 
        <span class="align-top text-danger rounded-circle bg-success text-white material-symbols-outlined">chevron_right</span>
    </a>
                    </div>
    
                  </div>
                </div>
                
                
              </div>
    
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  

    <%- include('./layout/footer'); -%>
    <script>
      const hearts = document.querySelectorAll('.heart');
      
      hearts.forEach(heart => {
        heart.addEventListener('click', function() {
          this.classList.toggle('active');
        });
      });
    </script>
    <script type="module" src="../main.js"></script>



  </body>

</html>
